#header {
    border:solid #E0E0E0 1px;
    background-color:#EEEEEE;
    width:800px;
}
#navigation {
    border:solid #E0E0E0 1px;
    background-color:#EEEEEE;
    width:800px;
}
#menu {
    border:solid #E0E0E0 1px;
    background-color:#EEEEEE;
}
#content {
    border:solid #E0E0E0 1px;
    background-color:#F5F5F5;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px;
}
#footer {
    border:solid #E0E0E0 1px;
    background-color:#EEEEEE;
    width:800px;
}