<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postech.itce.team8.model.mapper.DoctorMapper">

	<select id="findDoctorList" resultType="postech.itce.team8.model.domain.Doctor">
		SELECT id,fullname as fullName,username as userName,password as password, 
		last_login_id as lastLoginId FROM doctor
	</select>
	
	<select id="findDoctorUserNameList" resultType="string">
		SELECT username FROM doctor
	</select>
	
	<select id="findDoctorByUserName" parameterType="string" resultType="postech.itce.team8.model.domain.Doctor">
		SELECT id,fullname as fullName,username as userName,password as password, 
		last_login_id as lastLoginId FROM doctor WHERE username = #{userName}
	</select>

	<insert id="insertDoctor" parameterType="postech.itce.team8.model.domain.Doctor">
		INSERT INTO doctor (fullname,username,password) VALUES (#{fullName},#{userName},#{password})
	</insert>
	
	<update id="updateDoctor" parameterType="postech.itce.team8.model.domain.Doctor">
		UPDATE doctor 
		SET 
			fullname = #{fullName},
			password = #{password},
			current_ip = #{currentIp},
			last_login_id = #{lastLoginId}
		WHERE userName = #{userName}
	</update>
	
	<select id="isDoctorExisted" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM doctor WHERE username = #{userName}
	</select>

	<select id="isDoctorLoginExisted" resultType="int" parameterType="postech.itce.team8.model.domain.Doctor">
		SELECT COUNT(*) FROM doctor WHERE username = #{userName} and password = #{password}
	</select>
</mapper>